* {
    padding: 0;
    margin: 0;
    font-size: x-large;
}

.navbar {
    background-color: #343a40;
}

/* CAROUSEL
-------------------------------------------------- */

.bg-carousel-ba1 { background-image: url(../media/img/ba1.jpg); }
.bg-carousel-ba2 { background-image: url(../media/img/ba2.jpg); }
.bg-carousel-ba3 { background-image: url(../media/img/ba3.jpg); }

.carousel-item {
  background-size: cover;
  background-position: center center;
}
.carousel-item svg { opacity: .5; }

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 37rem;
  min-height: 95vh;
}