* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #343a40;
    font-size: x-large;

}

/* CAROUSEL
-------------------------------------------------- */

.bg-carousel-ba1 { background-image: url(../media/img/ba1.jpg); }
.bg-carousel-ba2 { background-image: url(../media/img/ba2.jpg); }
.bg-carousel-ba3 { background-image: url(../media/img/ba3.jpg); }

.carousel-item {
  background-size: cover;
  background-position: center center;
}
.carousel-item svg { opacity: .5; }

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  margin-right: -6%;
  margin-left: -5%;
}

.carousel-item {
  height: 37rem;
  min-height: 95vh;
}


/* CARDS 
------------------------------------------------*/

.img-card-1 { src: url(../media/img/steve.jpg); }
.img-card-2 { background-image: url(../media/img/bill.jpg); }
.img-card-3 { background-image: url(../media/img/ada.jpeg); }


/* LUGAR 
------------------------------------------------*/

.bg-aside {
  background-color: #343a40;

}

.btn-success {
  background-color: limegreen!important;
}

#footer {
  height: 15vh;
  background-color: #153447;
}